manifest {
    name            = 'crolllab/genomepanel_nf'
    author          = 'Daniel Croll'
    description     = 'Pipeline to variant call large genome panels'
    version         = '1.0.9'
    nextflowVersion = '>=23.0'
}

params {
    outdir = "./nf_output/"
}

workDir = './work'
cleanup = true
process.scratch = false
process.debug = false
process.executor = 'local'
process.cpus = 4



singularity {
    enabled    = true
    autoMounts = true
    envWhitelist = 'APPTAINERENV_NXF_TASK_WORKDIR,SINGULARITYENV_NXF_TASK_WORKDIR'
    cacheDir   = "${env('HOME')}/.singularity/cache"
}

executor {
    submitRateLimit = '240/1min'  
    queueSize = 300
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration,realtime,cpus,memory,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
}


profiles {
    slurm {
        process.executor    = "slurm"
        process.cpus         = 8
        process.queue        = { params.slurm_queue }
    }
    local {
        process.executor    = "local"
        process.cpus         = 4
    }
    local_highCPU {
        process.executor    = "local"
        process.cpus         = 16
    }
}

process {
    withName:SRAresolve {
        container = 'docker://quay.io/biocontainers/entrez-direct:24.0--he881be0_0'
        time      = '7d'
        cpus      = 1
        memory    = '1GB'
    }
    withName:SRAdownloadPE {
        container = 'docker://quay.io/biocontainers/sra-tools:3.2.1--h4304569_1'
        maxForks  = 10
        time      = '7d'
        cpus      = 1
        memory    = '1GB'
    }
    withName:SRAdownloadSE {
        container = 'docker://quay.io/biocontainers/sra-tools:3.2.1--h4304569_1'
        maxForks  = 10
        time      = '7d'
        cpus      = 1
        memory    = '1GB'
    }
    withName:trimSequencesSE {
        container = 'docker://quay.io/biocontainers/fastp:1.3.1--h43da1c4_0'
        maxForks  = 20
        time      = '1d'
        memory    = { 2.GB * task.attempt }
    }
    withName:trimSequencesPE {
        container = 'docker://quay.io/biocontainers/fastp:1.3.1--h43da1c4_0'
        maxForks  = 20
        time      = '1d'
        memory    = { 2.GB * task.attempt }
    }
    withName:bwaIndex {
        container = 'docker://quay.io/biocontainers/bwa-mem2:2.3--he70b90d_0'
        time      = '1d'
        cpus      = 1
        memory    = { 16.GB * task.attempt }
    }
    withName:fastaIndex {
        container = 'docker://quay.io/biocontainers/samtools:1.23.1--ha83d96e_0'
        time      = '1d'
        cpus      = 1
        memory    = { 2.GB * task.attempt }
    }
    withName:gatkIndex {
        container = 'docker://quay.io/biocontainers/picard:3.4.0--hdfd78af_0'
        time      = '1d'
        cpus      = 1
        memory    = { 4.GB * task.attempt }
    }
    withName:bwaMap {
        container = 'docker://quay.io/biocontainers/bwa-mem2:2.3--he70b90d_0'
        time      = '7d'
        memory    = { 8.GB * task.attempt }
    }
    withName:samtoolsSort {
        container = 'docker://quay.io/biocontainers/samtools:1.23.1--ha83d96e_0'
        time      = '1d'
        cpus      = 1
        memory    = { 2.GB * task.attempt }
    }
    withName:addRG {
        container = 'docker://quay.io/biocontainers/picard:3.4.0--hdfd78af_0'
        time      = '1d'
        cpus      = 1
        memory    = { 4.GB * task.attempt }
    }
    withName:dupRemoval {
        container = 'docker://quay.io/biocontainers/picard:3.4.0--hdfd78af_0'
        time      = '1d'
        cpus      = 1
        memory    = { 4.GB * task.attempt }
    }
    withName:cleanupBAMs {
        container = 'docker://quay.io/biocontainers/samtools:1.23.1--ha83d96e_0'
        cpus      = 1
        memory    = '256.MB'
        time      = '1h'
    }
    withName:GATKHC {
        container = 'docker://quay.io/biocontainers/gatk4-spark:4.6.2.0--hdfd78af_1'
        maxForks  = 150
        time      = '7d'
        cpus      = 1
        memory    = { 4.GB * task.attempt }
    }
    withName:GenomicsDBImport {
        container = 'docker://quay.io/biocontainers/gatk4-spark:4.6.2.0--hdfd78af_1'
        maxForks  = 150
        time      = '7d'
        cpus      = 2
        memory    = { 8.GB * task.attempt }
    }
    withName:GenotypeGVCFs {
        container = 'docker://quay.io/biocontainers/gatk4-spark:4.6.2.0--hdfd78af_1'
        maxForks  = 150
        time      = '7d'
        cpus      = 1
        memory    = { 4.GB * task.attempt }
    }
    withName:FilterVCFs {
        container = 'docker://quay.io/biocontainers/gatk4-spark:4.6.2.0--hdfd78af_1'
        time      = '1d'
        cpus      = 1
        memory    = { 4.GB * task.attempt }
    }
    withName:CleanVCFs {
        container = 'docker://quay.io/biocontainers/gatk4-spark:4.6.2.0--hdfd78af_1'
        time      = '1d'
        cpus      = 1
        memory    = { 4.GB * task.attempt }
    }
    withName:ConcatVCFs {
        container = 'docker://quay.io/biocontainers/bcftools:1.23.1--hb2cee57_0'
        time      = '7d'
        cpus      = 1
        memory    = { 2.GB * task.attempt }
    }
    withName:ConcatCleanVCFs {
        container = 'docker://quay.io/biocontainers/bcftools:1.23.1--hb2cee57_0'
        time      = '7d'
        cpus      = 1
        memory    = { 2.GB * task.attempt }
    }
    withName:MergeGVCFs {
        container = 'docker://quay.io/biocontainers/bcftools:1.23.1--hb2cee57_0'
        time      = '1d'
        cpus      = 1
        memory    = { 2.GB * task.attempt }
    }
    withName:RQualPlotting {
        container = 'docker://rocker/tidyverse:4.4.3'
        time      = '24h'
        cpus      = 1
        memory    = '16GB'
    }
    withName:PopGenVCF {
        container = 'docker://quay.io/biocontainers/vcftools:0.1.17--pl5321h077b44d_0'
        time      = '7d'
        cpus      = 1
        memory    = '1GB'
    }
    withName:RSummarizingBWA {
        container = 'docker://rocker/tidyverse:4.4.3'
        time      = '1h'
        cpus      = 1
        memory    = '1GB'
    }
    withName:RSummarizingFASTP {
        container = 'docker://rocker/tidyverse:4.4.3'
        time      = '1h'
        cpus      = 1
        memory    = '1GB'
    }
    withName:PipelineStatistics {
        container = 'docker://quay.io/biocontainers/samtools:1.23.1--ha83d96e_0'
        time      = '4h'
        cpus      = 1
        memory    = '1GB'
    }
    withName:filterReference {
        container = 'docker://quay.io/biocontainers/gatk4-spark:4.6.2.0--hdfd78af_1'
        time      = '1d'
        cpus      = 1
        memory    = '1GB'
    }
    withName:loadBAMs {
        time      = '1h'
        cpus      = 1
        memory    = '1GB'
    }
}

