workDir = '/scratch/daniel_tmp'
cleanup = false  // Disabled to preserve work dirs for statistics generation
process.scratch = false  // Disabled to avoid /tmp space issues with large GATK outputs
process.debug = false

env {
    NXF_OPTS = '-Xms4g -Xmx32g -XX:HeapBaseMinAddress=64g -XX:MaxMetaspaceSize=1g'
}

singularity {
    enabled = true
    singularity.autoMounts = true
    envWhitelist = 'APPTAINERENV_NXF_TASK_WORKDIR,SINGULARITYENV_NXF_TASK_WORKDIR'
}

executor {
    submitRateLimit = '120/1min'  // Increased from 60 to 500 jobs/min for better parallelization
    queueSize = 1000  // Allow up to 1000 jobs in queue
}


profiles {
    slurm {
        process.executor    = "slurm"
        process.cpus         = 8
    }
    local {
        process.executor    = "local"
        process.cpus         = 4
    }
    local_highCPU {
        process.executor    = "local"
        process.cpus         = 16
    }
}

process {
    withName:SRAresolve {
        container = './singularity/entrez-direct:24.0--he881be0_0'
    }
    withName:SRAdownloadPE {
        container = './singularity/sra-tools%3A3.2.1--h4304569_1'
        maxForks = 10
    }
    withName:SRAdownloadSE {
        container = './singularity/sra-tools%3A3.2.1--h4304569_1'
        maxForks = 10
    }
    withName:trimSequencesSE {
        container = './singularity/fastp%3A0.24.1--heae3180_0'
        maxForks = 20
   }
    withName:trimSequencesPE {
        container = './singularity/fastp%3A0.24.1--heae3180_0'
        maxForks = 20
   }
    withName:bwaIndex {
        container = './singularity/bwa-mem2%3A2.2.1--he70b90d_8'
   }
      withName:fastaIndex {
        container = './singularity/samtools%3A1.22.1--h96c455f_0'
   }
    withName:gatkIndex {
        container = './singularity/picard%3A3.4.0--hdfd78af_0'
   }
    withName:bwaMap {
        container = './singularity/bwa-mem2%3A2.2.1--he70b90d_8'
   }
    withName:samtoolsSort {
        container = './singularity/samtools%3A1.22.1--h96c455f_0'
   }
   withName:addRG {
        container = './singularity/picard%3A3.4.0--hdfd78af_0'
   }
    withName:dupRemoval {
        container = './singularity/picard%3A3.4.0--hdfd78af_0'
    }
    withName:GATKHC {
        container = './singularity//gatk4-spark%3A4.6.2.0--hdfd78af_0'
    }
    withName:samtoolsRealignedIndex {
        container = './singularity/samtools%3A1.22.1--h96c455f_0'
   }
    withName:CombineGVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
   }
    withName:GenotypeGVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
   }
    withName:FilterVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
   }
    withName:CleanVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
       }
    withName:ConcatVCFs {
        container = './singularity/bcftools%3A1.21--h8b25389_0'
       }
    withName:ConcatCleanVCFs {
        container = './singularity/bcftools%3A1.21--h8b25389_0'
       }
    withName:RQualPlotting {
        container = './singularity/r-tidyverse%3A1.2.1'
       }
    withName:PopGenVCF {
        container = './singularity/vcftools%3A0.1.17--pl5321h077b44d_0'
       }
    withName:RSummarizingBWA {
        container = './singularity/r-tidyverse%3A1.2.1'
       }
    withName:RSummarizingFASTP {
        container = './singularity/r-tidyverse%3A1.2.1'
        }
    withName:PipelineStatistics {
        // Uses basic bash utilities (stat, find, awk) - no special container needed
        // But we need a container for Singularity mode, so use samtools (has bash)
        container = './singularity/samtools%3A1.22.1--h96c455f_0'
        }
    withName:filterReference {
        // Uses Python3 for FASTA parsing
        container = './singularity/samtools%3A1.22.1--h96c455f_0'
        }
}

