workDir = './work'
process.scratch = true
cleanup = false
process.debug = false

singularity {
    enabled = true
    singularity.autoMounts = true
}

profiles {
    slurm {
        process.executor    = "slurm"
        process.cpus         = 8
    }
    local {
        process.executor    = "local"
        process.cpus         = 4
    }
    local_highCPU {
        process.executor    = "local"
        process.cpus         = 24
    }
}

process {
    // Limit all processes to this concurrency by default (necessary to avoid SRA download overruns)
    maxForks = 5

    withName:trimSequencesSE {
        container = './singularity/fastp%3A0.24.1--heae3180_0'
        maxForks = 30
   }
    withName:trimSequencesPE {
        container = './singularity/fastp%3A0.24.1--heae3180_0'
        maxForks = 30
   }
    withName:bwaIndex {
        container = './singularity/bwa-mem2%3A2.2.1--he70b90d_8'
        maxForks = 200
   }
      withName:fastaIndex {
        container = './singularity/samtools%3A1.6--h5fe306e_12'
        maxForks = 200
   }
    withName:gatkIndex {
        container = './singularity/picard%3A3.4.0--hdfd78af_0'
        maxForks = 200
   }
    withName:bwaMap {
        container = './singularity/bwa-mem2%3A2.2.1--he70b90d_8'
        maxForks = 200
   }
    withName:samtoolsSort {
        container = './singularity/samtools%3A1.6--h5fe306e_12'
        maxForks = 200
   }
   withName:addRG {
        container = './singularity/picard%3A3.4.0--hdfd78af_0'
        maxForks = 200
   }
    withName:dupRemoval {
        container = './singularity/picard%3A3.4.0--hdfd78af_0'
        maxForks = 200
    }
    withName:GATKHC {
        container = './singularity//gatk4-spark%3A4.6.2.0--hdfd78af_0'
        maxForks = 200
    }
    withName:samtoolsRealignedIndex {
        container = './singularity/samtools%3A1.6--h5fe306e_12'
        maxForks = 200
   }
    withName:CombineGVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
        maxForks = 200
   }
    withName:GenotypeGVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
        maxForks = 200
   }
    withName:FilterVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
   }
    withName:CleanVCFs {
        container = './singularity/gatk4-spark%3A4.6.2.0--hdfd78af_0'
       }
    withName:ConcatVCFs {
        container = './singularity/bcftools%3A1.21--h8b25389_0'
       }
    withName:ConcatCleanVCFs {
        container = './singularity/bcftools%3A1.21--h8b25389_0'
       }
    withName:RQualPlotting {
        container = './singularity/r-tidyverse%3A1.2.1'
       }
}

